.mutli {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5vh;
    margin-bottom: .5vh;
    text-align: center;
    font-size: 28rpx;
    color: #3e3e3e;
    background-color: #ffffff;
}

.mutli-box {
    display: flex;
    flex-direction: column;
    padding: .5vh 0 0.5vh 0;
}

.mutli-icon {
    width: 20vw;
    /* padding: 0 1vw; */
    height: 7vh;
    /* height: 100%; */
}